<header>
  <img
    src="assets/img/cv_2025.png"
    alt="CV_2025 Foto meu perfil"
    width="105px"
    height="140px"
    loading="eager"
  />

  <h1>Sérgio Silva</h1>
</header>
<aside>
  <div class="container">
    <p>Full-Stack | Html | CSS | JavaScript | Node.Js | Angular | PHP | C# | SQL</p>
    <p>
      Bem-vindo ao meu portfólio! Sou programador Full Stack apaixonado por
      criar soluções inovadoras e eficientes. Com experiência em diversas
      tecnologias, estou sempre em busca de novos desafios para aprimorar minhas
      habilidades e contribuir para projetos de sucesso.
    </p>
    <nav>
      <ul>
        <li>
          <a
            href="assets/pdf/Sergio_Silva_cv2025.pdf"
            target="_blank"
            class="btn btn-primary"
            >Meu currículo</a
          >
        </li>
        <li>
          <a
            href="https://www.linkedin.com/in/devssilva/"
            target="_blank"
            class="btn btn-secondary"
            >LinkedIn</a
          >
        </li>
      </ul>
    </nav>

    <section>
      <figure>
        <img
          src="assets/icons/png/whatsapp.png"
          alt="Icone para contato do WhatsApp"
          width="22px"
          height="24px"
        />
        <figcaption>
          <a
            href="https://api.whatsapp.com/send/?phone=%2B351914742333&text="
            target="_blank"
          >
            <strong>Envie uma mensagem para: </strong>
            <p>Whatsapp: (+351) 914 742 333</p>
          </a>
        </figcaption>
      </figure>

            <figure>
        <img
          src="assets/icons/png/email.png"
          alt="Icone para contato do E-mail"
          width="22px"
          height="24px"
        />
        <figcaption>
          <a
            href="mailto:sergio.web100@gmail.com"
            target="_blank"
          >
            <strong>Envie um e-mail para: </strong>
            <p>sergio.web100&#64;gmail.com</p>
          </a>
        </figcaption>
      </figure>
    </section>
  </div>
</aside>
