html, 
body { 
    height: 100%; 
}
body { 
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    background: var(--black);
}

h1, h2, h3 {
    font-size: 22px;
}

h1,h2,h3,a {
    color: var(--white);
    text-decoration: none;
}

p {
    color: var(--grey);
    font-size: 16px;
    line-height: 1.6;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

/*
li img, li svg {
    color: var(--white);
}
*/