.container {
    width:700px;
    position: relative;
    box-sizing: border-box;
}

@media (max-width: 750px) {
    .container {
        width: 100%;
       // margin: 0 auto;
       padding: 0 20px;
    }
}