::ng-deep .dialog-container-projects .mdc-dialog-container {
  width: 850px;
}

:host {
  padding: 10px 30px;
  display: flex;
  flex-direction: column;

  header,
  h3,
  p,
  mat-dialog-content {
    padding: 0;
    margin: 0 0 15px;
  }

  header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    h2 {
      font-size: 24px;
      padding: 0;
      margin: 0;
      color: var(--black-10);
    }

    button {
        background: none;
        border: none;
        padding: 0;
        cursor: pointer;
        width:24px; 
        height:24px;
    }
  }

  h3 {
    font-size: 20px;
    color: var(--black-10);
  }

  article {
    margin-bottom: 15px;
    p {
      font-size: 16px;
    }
  }

  nav {
    display: flex;
  }

}
