:host {
    margin-top: 25px;
    padding: 25px 0;
    background: var(--black-10);
    display: flex;

    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: var(--black-10);

    h2 {
        text-align: center;
        margin: 0 0 25px 0;
    }

    ul {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        gap: 15px;

        li {
            flex: 20%;
            height: 160px;
            width: 160px;
        
            button {
                width: 100%;
                height: 100%;
                cursor: pointer;

                background: var(---black);
                border: 2px solid var(--primary);
                border-radius: 7px;
                transition: 0.5s;
                &:hover {
                    background: var(--primary);
                    color: var(--black-10);
                }
            }
        img {
            border-radius: 7px;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }

        }
    }

    @media(max-width: 750px) {
        ul {
            li {
                flex: 100%;
            }
        }
    }
}